.vscode/settings.json
.vscode/launch.json
.vscode
кириешка/test.py
кириешка/input.txt
кириешка/output.txt
ege24/24data
input1.txt
ege24/input.txt
ege26/26data
ege26/input.txt
ege27/27data
ege27/input.txt
